<% content_for :page_title do %>
  <h3>
    <%= stack.repo_owner %>
    <small class='text-muted'><%= stack.repo_name %> <%= stack.environment %></small>
  </h3>
<% end %>

<% content_for :primary_navigation do %>
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <% if params[:force] %>
        <%= link_to 'Exit emergency mode', stack_path(@stack), class: 'btn btn-success' %>
      <% else %>
        <%= link_to 'Enable emergency mode', stack_path(@stack, force: 1), class: 'btn btn-danger' %>
      <% end %>
    </li>
  </ul>
<% end %>

<% content_for :secondary_navigation do %>
  <div class="container p-l-0 p-r-0">
    <nav class="navbar navbar-light">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <%= link_to "Commits & Deploys", stack_path(stack), class: 'nav-link active' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Settings', stack_settings_path(stack), class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Timeline', index_stack_tasks_path(stack), class: 'nav-link' %>
        </li>
      </ul>
      <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Tasks</a>
          <div class="dropdown-menu">
            <%= link_to 'Refresh statuses & commits', stack_refresh_path(stack), method: 'post', class: 'dropdown-item' %>
            <div class="dropdown-divider"></div>
            <% stack.task_definitions.each do |definition| %>
              <%= link_to "#{definition.action}…", new_stack_tasks_path(stack, definition_id: definition.id), class: %w(dropdown-item) %>
            <% end %>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Links</a>
          <div class="dropdown-menu">
            <%= link_to 'View on GitHub', github_repo_url(stack.repo_owner, stack.repo_name), target: '_blank', class: 'dropdown-item' %>
            <% if stack.deploy_url.present? %>
              <%= link_to 'View website', stack.deploy_url, target: '_blank', class: 'dropdown-item' %>
            <% end %>
          </div>
        </li>
      </ul>
    </nav>
  </div>
<% end %>
